main h1 {
  font-size: 26px;
  font-weight: bold;
}

main p {

}

pre {
  border-radius: 6px;
  overflow-x: auto;
  padding: 6px 10px;
}

article.single p {

margin: 12px 0;

}

article.single a {
  text-decoration: underline;
}

article.single img {

  margin: 16px 8px;
}

article.single pre {
  margin: 16px 0;
}

article.single .time {

  font-size: 14px;
  display: flex;
  justify-content: end;
  line-height: 1.1;
  gap: 20px;
  }

  article.single time {
    display: inline;
  }



  .footnote-ref {
    font-size: 95%;
   }
   .footnote-ref::before {
     display: inline;
     content: "[";
   }
   .footnote-ref::after {
     display: inline;
     content: "]";
   }
