main h1 {
  font-size: 26px;
  font-weight: bold;
}

.single h2 {
  margin-top: 28px;
  padding-bottom: 4px;
  padding-left: 2px;
  border-bottom: 1px solid #d1d8df;
}

.single h2:first-child {
  margin-top: 12px;
}

.single p {
  text-indent: 6px;
  padding-left: 4px;
  margin: 12px 0;
}

.single pre {
  border-radius: 6px;
  overflow-x: auto;
  padding: 6px 10px;
}

article.single a {
  text-decoration: underline;
}

article.single img {

  margin: 16px 0;
}

article.single pre {
  margin: 16px 0;
}

article.single .time {

  font-size: 14px;
  display: flex;
  justify-content: end;
  line-height: 1.1;
  gap: 20px;
  color: #4d4d4d;
  }

  article.single time {
    display: inline;
  }



  .footnote-ref {
    font-size: 95%;
   }
   .footnote-ref::before {
     display: inline;
     content: "[";
   }
   .footnote-ref::after {
     display: inline;
     content: "]";
   }
