* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.7;
  text-underline-offset: 3px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2px 0 4px;
  font-weight: bold;
  line-height: 1.4;
}

h1 {
  font-size: 30px;
  word-spacing: -2px;
}

h2 {
  font-size: 25px;
  word-spacing: -1px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

img {
  max-width: 100%;
  margin: 10px 0;
}

p {
  margin: 8px 0;
}

a {
  text-decoration: none;
}

ul, ol {
  padding-left: 21px;
}

table {
  max-width: 100%;
  margin: 10px 0;
}

th, td {
  padding: 1px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  line-height: 1.5;
}

pre, code {
  tab-size: 4;
}
